@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import 'common.css';

* {
  font-family: 'Oswald', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  background: #333;
}

.browser-block {
  margin-top: 5px;
  width: 100%;
}

.nav {
  font-size: 0;
}

.nav > * {
  font-size: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: #62e;
  color: #2ae;
  padding: 4px 8px;
  cursor: pointer;
  font-weight: 700;
  height: 100%;
  width: 50%;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

.nav > *:hover {
  background: #51d;
  color: #3bf;
}

.browser-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.browser-block > * {
  background-color: #d99;
  padding: 0;
}

.browser-block > *:not(.browser-list),
.browser-element a,
.browser-element button {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2px 4px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  text-align: left;
  font-size: 1rem;
}

.browser-block > *:not(.browser-list):hover,
.browser-element:hover {
  height: 50px;
  vertical-align: middle;
  line-height: 40px;
}

.browser-block > *:not(.browser-list) .icon,
.browser-element a .icon,
.browser-element button .icon {
  display: none;
}

.browser-block > *:not(.browser-list):hover .icon,
.browser-element a:hover .icon,
.browser-element button:hover .icon {
  display: inline-block;
}

.browser-block > *:not(.browser-list):hover,
.browser-element a:hover,
.browser-element button:hover {
  padding-left: 15px;
}

.browser-block > *:not(.browser-list):active,
.browser-element a:active,
.browser-element button:active {
  padding-left: 10px;
}

.browser-block > *:not(.browser-list):hover:before,
.browser-element a:hover:before,
.browser-element button:hover:before {
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.file {;
  background-color: #dd9;
}

.dir {
  background-color: #9dd;
}